.events-card {
    display: block !important;
    height: 100%;
    margin: auto;
    overflow: hidden;
    width: 90%;
  
    .events-card-title {
      color: #cccccc;
      font-weight: bold;
      margin: 0;
    }
  
    .events-card-events-amount {
      color: #202020;
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      padding-top: 2px;
    }
  
    .events-card-chart > div > nvd3 {
      > svg line {
        display: none;
      }
  
      .nvd3.nv-multibarHorizontal .nv-groups text {
        font-size: 24px;
      }
    }
  }