.div_event_detail {
  height: 100%;
  align-content: center;

  .image {
    float: left;
    display: block;
  }
  .info {
    display: block;
    float: right;
    margin-left: 20px;

    h1 {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      text-align: center;
      font-size: 35px;
      margin: 0px;
    }
    p {
      font-family: "Lucida Console", Courier, monospace;
      font-size: 18px;
      text-align: justify;
      line-height: 2;
    }

    .bands_p {
      font-family: "Lucida Console", Courier, monospace;
      font-size: 12px;
      text-align: justify;
      line-height: 2;
    }
  }

  .div_button {
    display: block;
    .buy-button {
      background-color: #3b6978;
      cursor: pointer;
      font-family: "Lucida Console", Courier, monospace;
      display: block;
      float: right;
      color: #e7dfd5;
      font-weight: bold;
    }
  }
}
