
<div class="div_event_detail">
  <div class="image">
    <img style="height: 250px; width: 250px;" src="assets/images/events/{{data.event_name}}.jpg">
  </div>

  <div class="info">
    <h1>{{data.event_name}}</h1>
    <p>
      <mat-icon style="margin-right: 5px;">location_on</mat-icon>{{ data.event_address }} {{ data.event_region }}
    </p>
    <p>
      <mat-icon style="margin-right: 5px;  vertical-align: middle;">event</mat-icon>
      {{data.event_date_time|  date:'dd/MM/yyyy'}}
    </p>

    <mat-nav-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of eventResult">
        <p class="band_p">{{item.band_name}}</p>
      </mat-list-item>
    </mat-nav-list>

    <div class="div_button">
      <button mat-raised-button class="buy-button" (click)="openURL(data)">{{'BUY TICKETS'| oTranslate}}</button>
    </div>
  </div>
</div>
