<div class="iconos">
  <img src="https://img.icons8.com/material-outlined/40/000000/facebook.png" />
  <img src="https://img.icons8.com/material-outlined/40/000000/instagram-new.png" />
  <img src="https://img.icons8.com/material-outlined/40/000000/youtube-play.png" />
</div>

<div class="band_detail">

  <div class="slideshow">
    <slideshow [height]="'500px'" [minHeight]="'400px'" [autoPlay]="false" [showArrows]="true" [imageUrls]="arrayImages"
      [backgroundSize]="'contain'" [backgroundPosition]="'left left'">
    </slideshow>
  </div>

  <div class="band_text">
    <h1>{{data.band_name}}</h1>
    <p>Category:{{data.CATEGORY}}</p>
    <p>{{data.band_info}}</p>
  </div>

  <div class="videos">
    <ng-container *ngFor="let video of arrayVideos">
      <mat-accordion style="background-color: brown;" levation="0">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Video {{video.valueOf()}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="video-container" class="videos" style="margin-right: 10px;">
            <iframe frameborder="0" scrolling="no" marginheight="10" marginwidth="10" width="788.54" height="443"
              type="text/html" [src]="video |safe">
            </iframe>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>


  <div class="comments">
    <h2>COMMENTS:</h2>
    <div>
      <o-list [static-data]="getCommentResult()" title="" quick-filter="false" controls="false" refresh-button="false"
        insert-button="false" insert-button-floatable="false" delete-button="false" selectable="false" dense="false"
        detail-button-in-row="false" edit-button-in-row="false" detail-mode="none">
        <o-list-item cclcass="olist-item" *ngFor="let item of bandCommentResult">
          <div>
            <b [routerLink]="['/main/band', bandCommentResult.comment_alias]">{{item.comment_alias}}:</b>
          </div>
          <div>
            <b [routerLink]="['/main/band', bandCommentResult.comment_body]">{{item.comment_body}}</b>
          </div>
        </o-list-item>
      </o-list>
    </div>

    <div class="bandcomment-item">
      <h3>Your comment:</h3>
      <form service="bands" entity="commentInsert" key="band_id" [formGroup]="registerForm" show-header="no">
        <o-row>
          <mat-form-field class="comment-alias" [ngClass]="">
            <mat-label>{{'NICKNAME' | oTranslate}}</mat-label>
            <input class="input-register" matInput type="text" formControlName="nick"
              placeholder="Min.3, max. 25 characteres" required="true" minlength="3" maxlength="25" variant="outlined">
          </mat-form-field>
        </o-row>
        <o-row>
          <mat-form-field class="comment-body" [ngClass]="">
            <mat-label>{{'COMMENT' | oTranslate}}</mat-label>
            <textarea class="input-register" matInput type="text" formControlName="comment_body" minlength="3"
              maxlength="200"></textarea>
          </mat-form-field>
        </o-row>

        <div class="comment-buttons">
          <o-button (click)="onResetForm()" attr="stroked" type="STROKED" label="CLEAR" layout-padding></o-button>
          <o-button (click)="createComment()" attr="stroked" type="STROKED" label="COMMENT" layout-padding>
          </o-button>
        </div>
      </form>
    </div>
  </div>

</div>