.iconos {
  display: block;
  float: right;
  margin-right: 40px;
}

.band_detail {
  margin: 40px 20px 20px 20px;

  .slideshow {
    width: 40%;
    display: block;
    float: left;
  }

  .band_text {
    display: block;
    width: 55%;
    float: right;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 16px;
    text-align: justify;
    line-height: 2;
    padding-right: 20px;

    h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: center;
      font-size: 50px;
      margin: 0px;
    }

  }

  .videos {
    width: 100%;
    display: block;
    float: left;
    margin-top: 40px;
    background-color: #3b6978;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;

    .mat-expansion-panel {
      box-shadow: inset;
      background-color: #3b6978;
    }
    .mat-expansion-panel-header-title{
      font-family: "Lucida Console", Courier, monospace;
      font-size: 16px;
      font-weight: bold;
      color: rgba(228, 227, 227, 0.8);
    }
  }

  .comments {
    display: block;
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align:left;

    .mat-list, .mat-nav-list{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 26px;
    }

 .mat-list-item{
   margin-top: 20px;
   margin-left: 40px;
   font-family: "Lucida Console", Courier,monospace;
 }

    .comment-text-alias {
      font-family: "Lucida Console", Courier,monospace;
      font-size:16px;
      font-weight: lighter;
    }
    .comment-text-body{
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
      font-weight:lighter;
    }

  }

  .bandcomment-item {
    height: 90%;
    width: 100%;
    z-index: 3;
    padding: 20px 20px 20px 0px;
    align-items: left;


    .p_comment{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-top: 40px;
      font-size: 20px;
    }

    .comment-alias {
      margin-right: 0px;
      margin-left: 0px;
      padding-left: 40px;
      font-family: "Lucida Console", Courier, monospace;

    }
  }

    .comment-body {
      width: 100%;
      margin-right: 0px;
      margin-left: 0px;
      padding-left: 40px;
      font-family: "Lucida Console", Courier, monospace;
      line-height: 1.5;
    }

    .div_button {
      display: block;
      .buy-button {
        margin-left: 10px;
        background-color: #3b6978;
        cursor: pointer;
        font-family: "Lucida Console", Courier, monospace;
        display: block;
        float: right;
        color: #e7dfd5;
        font-weight: bold;
      }
    } 
  }
} 

