<div class="band_home" >
 <div fxLayout="column" fxFlex="1 1 auto" class="body_band_home">
   <div class="band_home_grid">

  <o-grid #grid attr="BANDTABLE"  title="{{'BANDS'|oTranslate}}" service="bands" entity="getBandsAndCategory"
    columns="band_name;CATEGORY;band_facebook;band_instagram;band_youtube" keys="band_id" query-rows="2" quick-filter="false" controls="true" 
    refresh-button="no" gutter-size="18px" detail-mode="none" show-page-size="false" pagination-controls="false">
    <o-grid-item *ngFor="let item of grid.dataArray">
      <div (click)="openDetail(item)" fxLayout="column" fxLayoutAlign="space-evenly center"
        class="band-item mat-elevation-z1">
        <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
          <mat-divider fxFlex></mat-divider>
          <div class="image">
            <img src="assets/images/bands/{{item.band_name}}.jpg">
          </div>
          <mat-divider fxFlex></mat-divider>
        </div>

        <div fxLayout="column" fxLayoutAlign="start center" class="band-data">
          <span class=" band-name">{{ item.band_name }}</span>
          <span class="cat">{{  item.CATEGORY  }}</span>

          </div>
        </div>

    </o-grid-item>
  </o-grid>
</div>
</div>


            