<div class="basic-container" style="width: 90%; margin-right: 5%; margin-left: 5%; margin-top: 50px; margin-bottom: 50px;">
  <o-grid #grid attr="BANDTABLE" title="BANDAS" service="bands" entity="getBandsAndCategory" columns="band_name;CATEGORY"
 keys="BAND_ID" query-rows="1" refresh-button="no" gutter-size="18px" detail-mode="none" quick-filter="true">
    <o-grid-item *ngFor="let row of grid.dataArray" rowspan="1">
    <div>
      <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
        <div >
          <img attr="image" src="assets/images/bands/{{row.band_name}}.jpg" style=" object-fit: cover;">
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center">
        <span >{{row.band_name }}</span>
        <span>{{ row.CATEGORY}}</span>
      </div>
    </div>
    </o-grid-item>
</o-grid>
</div> 


            