.band_home{
  background-color: #3b6978;

.band_home_grid{
  align-self: center;
  width: 90%;
  margin-top: 30px;

  .band-item {
    background-color: #e7dfd5;
    cursor: pointer;
    height: 90%;
    width: 70%;
    z-index: 3;
  
    .image-container {
      height: 50%;
      width: 100%;
  
      .mat-divider {
        margin: 0 12px 30px;
      }
  
      .image {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding-top: 12px;
  
        img {
          height: auto;
          width: auto;
          
        }
      }
    }
  
    .band-data {
      height: 35%;
      width: 100%;
  
      span {
        font-size: 14px;
        max-width: 90%;
        overflow: hidden;
        padding: 4px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
  
        &.band-name {
            padding-top: 20px;
            font-size: 28px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: bold;
        }
  
      }
    }
  }
}

}