.o-grid-home .mat-toolbar-single-row {
  background-color: #3b6978;
  border-bottom: solid;
  border-color: rgba(228, 227, 227, 0.2);

  span {
    color: rgba(228, 227, 227, 0.8);
    font-size: 40px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
}

.o-grid .o-grid-container {
  height: 50%;
}

.o-grid-home .mat-grid-list {
  width: 90%;
  display: flex;
  align-self: center;
  padding-top: 10px;
}

.div_bandsEmph {
  margin-top: 30px;
  width: 90%;
  align-self: center;
}

.div_eventsEmph {
  margin-top: 200px;
  width: 90%;
  align-self: center;
}

.mat-toolbar-single-row {
  background-color: #3b6978;
  border-bottom: solid;
  border-color: rgba(228, 227, 227, 0.2);

  span {
    color: rgba(228, 227, 227, 0.8);
    font-size: 40px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
  }
}

.o-list-container .o-list-content {
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 20px;
  padding-bottom: 50px;
}

.mat-card-title {
  padding-top: 20px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

.o-list-item {
  cursor: pointer;
}

.o-list-item-card .mat-card {
  background-color: #e7dfd5;
  margin-bottom: 20px;
}

.mat-elevation-z1 {
  box-shadow: 0px 7px 8px -4px rgba(32, 64, 81, 0.2), 0px 12px 17px 2px #204051,
    0px 5px 22px 4px rgba(32, 64, 81, 0.12);
}

.o-grid-home .mat-elevation-z1 {
  box-shadow: 0px 2px 5px -4px rgba(32, 64, 81, 0.2), 0px 2px 17px 2px #204051,
    0px 5px 2px 4px rgba(32, 64, 81, 0.12);
}

.mat-dialog-container {
  background-color: #e7dfd5;
}
