@import 'node_modules/@angular/material/theming';
@mixin bands-theme($theme) {
  $accent: map-get($theme, accent);

  bands-home {
      
    .band-item {
        
      .image-container .mat-divider {
        border-top-color: mat-color($accent);
      }

    }
  }

  bands-detail {
    .mat-divider {
      border-top-color: mat-color($accent);
    }

    .band-data span .mat-icon,
    .band-type {
      color: $emp-icon-color;
    }
  }
}
