.body_home{
background-color: #3b6978;
  /*background: repeating-linear-gradient( 44deg, rgba(0, 0, 0, 0) 40px,
  rgba(0, 0, 0, 0) 48px, #e4e3e3 20px, #e4e3e3 49px);*/

.band-item {
  background-color: #e7dfd5;
  cursor: pointer;
  height: 95%;
  width: 75%;
  z-index: 3;

  .image-container {
    height: 50%;
    width: 100%;

    .mat-divider {
      margin: 0 12px 30px;
    }

    .image {
      align-items: center;
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        height: auto;
        width: auto;
      }
    }
  }

  .band_data {
    height: 35%;
    width: 100%;

    span {
      font-size: 14px;
      max-width: 90%;
      overflow: hidden;
      padding: 4px 0;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.band_name {
        padding-top: 20px;
        font-size: 28px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: bold;
      }
    }
  }
}


}