<div class="body_home" fxLayout="column" fxFlex="1 1 auto">
  <div class="div_bandsEmph">
    <o-grid #grid attr="BANDTABLE" title="{{'HIGHLIGHT BANDS'|oTranslate}}" service="bands" entity="getBandsEmph"
      columns="band_name;CATEGORY;band_facebook;band_instagram;band_youtube" keys="band_id" query-rows="2"  quick-filter="false" controls="true" 
      refresh-button="no" gutter-size="18px" detail-mode="none" show-page-size="false" pagination-controls="false" class="o-grid-home">
      <o-grid-item *ngFor="let item of grid.dataArray">
        <div (click)="openBandsDetail(item)" fxLayout="column" fxLayoutAlign="space-evenly center"
          class="band-item mat-elevation-z1">
          <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
            <mat-divider fxFlex></mat-divider>
            <div class="image">
              <img src="assets/images/bands/{{item.band_name}}.jpg">
            </div>
            <mat-divider fxFlex></mat-divider>
          </div>
          <div fxLayout="column" fxLayoutAlign="start center" class="band_data">
            <span class=" band_name">{{ item.band_name }}</span>
            <span>{{  item.CATEGORY  }}</span>
          </div>
        </div>
      </o-grid-item>
    </o-grid>
  </div>


  <div class="div_eventsEmph">
    <o-list #list attr="EVENTTABLE" service="events" title="{{'NEXT EVENTS'|oTranslate}}" entity="event" keys="event_id"
      columns="event_name;event_date_time;event_region" refresh-button="true" quick-filter="false" insert-button="false"
      delete-button="false" row-height="medium" detail-mode="none" refresh-button="no" gutter-size="0">
      <o-list-item *ngFor="let row of list.dataArray">
        <o-list-item-card (click)="openDetail(row)" #item title="{{row.event_name}}"
          subtitle=" {{ row.event_region}}, {{row.event_date_time |  date:'dd/MM/yyyy'}} " show-image="true"
          image="assets/images/events/{{row.event_name}}.jpg"> </o-list-item-card>
      </o-list-item>
    </o-list>
  </div>
</div>